.message {
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    &-author {
        width: 4vw;
        margin-left: 10px;
        color: rgb(96, 154, 135);
    }
    &-text {
        margin-left: 10px;
        max-width: 28vw;
        padding: 17px 7px 17px 7px;
        word-wrap: break-word;
        color: #fff;
        background: rgb(99, 181, 208);
        border-radius: 10px;
        &-bot {
            margin-left: 10px;
            max-width: 28vw;
            padding: 17px 7px 17px 7px;
            word-wrap: break-word;
            color: #fff;
            background: rgb(232, 234, 108);
            border-radius: 10px;
        }
    }
}
